body 
{
    margin: 0;
    height: 100vh;
    overflow: hidden;
}
.main
{
    height: 100vh;
    background-color: #181e2a;
    /* overflow: hidden; */
    background-image: url(images/PO-BG.png);

    background-color: #181e2a;
    background-repeat: no-repeat;
    background-size: cover;
    color: #bfb9ed;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.main-logo
{
    width: 11vw;
    /* height: 280px; */
    align-self: flex-start;
    margin-left: 85px;
    margin-top: 40px;
}

.inner-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 55%; */
    /* gap: 1vh; */
}

h1
{
    margin: 0;
    /* text-align: center; */
    /* align-self: center; */
    font-family: "Poppins", sans-serif;
    font-size: 11vw;
    letter-spacing: 1.042vw;
    /* margin-bottom: -80px; */
    /* height: 24vh; */
}  

h2 
{
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 3vw;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 0.5vw;
}

.inner-main p
{
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: 200;
    font-size: 0.9vw;
    line-height: 1.143;
    width: 850px;
}
.btn
{
    font-weight: bold;
    border: 3px solid #bfb9ed;;
    font-family: "Poppins", sans-serif;
    font-style: medium;
    color: #bfb9ed;
    background-color: transparent;
    border-radius: 30px;
    height: 60px;
    width: 220px;
    margin-top: 1vh;
    letter-spacing: 0.2vw;
}